.mostrarFav {
    font-size: 3vh;
    border-radius: 50%;
    background: black;
    position: relative !important;
    top: 40px !important;
    left: 7px !important;
    z-index: 1;
}

.iconoEstrella {
    color: #FFFFFF;
    width: 10vw;
    height: 10vh;
}

.favoritoSi {
    color: rgb(237, 246, 53) !important;
}

.favoritoNo {
    color: rgb(255, 255, 255) !important;
}

/**/