#sectionCambiarCredenciales {
    display: none;
}

#sectionCientificosFavoritos {
    display: none;
}

#sectionContribucionesFavoritas {
    display: none;
}

#sectionMasOpciones {
    display: none;
}

#sectionEliminarCuenta {
    display: none;
}

#animationLogin .rounded-3 a {
    width: 40vw !important;
    margin: 0.5vh 5vw;
}

#animationLogin .rounded-3 h2 {
    margin-bottom: 10vh;
}

#mensajePerfil {
    display: none;
}

.gradient-form .flex-column {
    padding: 5vh 3vw;
}

.form-outline input {
    width: 40vw;
}

#erroresEliminar {
    display: flex;
    border-radius: 5px;
    border-color: red;
    background-color: rgb(254, 216, 207);
    padding: 10px;
    margin-bottom: 5px;
}

#contenedorErroresEliminar {
    display: none;
}

input:valid {
    border-color: greenyellow;
}

input:invalid {
    border-color: red;
}