#myBtnToTop {
	display: none;
	position: fixed;
	bottom: 15vh;
	right: 2vw;
	z-index: 99;
	border: 0.5vh solid white;
	outline: none;
	background: linear-gradient(0, #343436, white);
	color: white;
	cursor: pointer;
	padding: 5px;
	border-radius: 4px;
	font-size: 7vh;
	border-radius: 50%;
}

#myBtnToTop:hover {
	background-color: #555;
}

#myBtnToBot {
	display: none;
	position: fixed;
	top: 15vh;
	right: 2vw;
	z-index: 99;
	border: 0.5vh solid white;
	outline: none;
	background: linear-gradient(0, white, #343436);
	color: white;
	cursor: pointer;
	padding: 5px;
	border-radius: 4px;
	font-size: 7vh;
	border-radius: 50%;
}

#myBtnToBot:hover {
	background-color: #555;
}