/*MAIN*/
#contenido {
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

#seccionPresentacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0, white, #343436);
}

#tituloPrincipal {
    text-align: center;
    font-size: 8vh;
    text-shadow: 0.6vh 0.8vh black;
    color: white;
    font-family: 'Raleway Extrabold', 'JosefinSans Bold', sans-serif;
    margin: 0 10vw 2vh;
}

#imagenInicial1 {
    width: 70vw;
    height: 50vh;
    border-radius: 50%;
    box-shadow: 0.2vh 1vh 2vh 0 rgba(0, 0, 0, 0.35);
}

#imagenInicial2 {
    width: 70vw;
    height: 50vh;
    border-radius: 50%;
    box-shadow: 0.2vh 1vh 2vh 0 rgba(0, 0, 0, 0.35);
}

/*Efecto cambio de imágenes*/
#contenedorEfecto {
    background-color: transparent;
    width: 70vw;
    height: 50vh;
    border-radius: 50%;
    perspective: 95vh;
    margin: 5vh 10vw;
    z-index: 0;
}

#contenedorImagenes {
    position: relative;
    width: 70vw;
    height: 50vh;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    border-radius: 50%;
}

#contenedorEfecto:hover #contenedorImagenes {
    transform: rotateY(180deg);
}

#contenedorImagenFront,
#contenedorImagenBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50%;
}

#contenedorImagenFront {
    border-radius: 50%;

}

#contenedorImagenBack {
    border-radius: 50%;
    transform: rotateY(180deg);
}

/*Fin efecto*/
#figurecaptionPresentacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1vh 10vw 10vh;
}

#puestosPresentacion {
    width: 30vw;
}

#h3Puesto1 {
    text-align: left;
    font-size: 2.2vh;
    text-shadow: 0.06vh 0.1vh black;
    color: black;
}

#h3Puesto2 {
    text-align: left;
    font-size: 2.2vh;
    text-shadow: 0.06vh 0.1vh black;
    color: black;
}

#simbolPresentacion {
    font-size: 10vh;
    justify-self: center;
    align-self: center;
    position: absolute;
}

#h3Puesto3 {
    font-size: 2.2vh;
    text-shadow: 0.06vh 0.1vh black;
    color: black;
    width: 30vw;
}

/*Sección Información Personal*/
#seccionInfPersonal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8vh;
}

#tituloSeccionInfPersonal {
    text-align: center;
    font-size: 8vh;
    text-shadow: 0.6vh 0.8vh black;
    color: white;
    background-color: #343436;
    padding-top: 8vh;
    font-family: 'Raleway Extrabold', 'JosefinSans Bold', sans-serif;
}

#articulosInfPersonal {
    padding: 5vh 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background: linear-gradient(0, white, #343436);
}

#articuloImagenPerfil {
    width: 30%;
    height: auto;
    border-radius: 20%;
}

#imagenPerfil {
    width: 100%;
    height: auto;
    border-radius: 20%;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

#articuloImagenPerfil:hover #imagenPerfil {
    transform: rotateY(180deg);
    border-radius: 50%;
    box-shadow: 0 0 1vh 1.4vw #343436;
}

#articuloDatosPersonales {
    margin: 0 2vw;
    padding: 0.5vh;
    width: 30%;
    height: auto;
}

#tituloDatos {
    font-size: 4vh;
    text-shadow: 0.6vh 0.8vh black;
    color: white;
    margin-bottom: 4vh;
    font-family: 'Raleway Extrabold', 'JosefinSans Bold', sans-serif;
}

#listaDatos li {
    font-size: 2vh;
    list-style: none;
    padding: 1vw;
}

#listaDatos li:hover {
    border-radius: 4vw;
    background-color: white;
    color: #343436;
}

#articuloPerfilProfesional {
    margin: 0 2vw;
    padding: 0.5vh;
    width: 30%;
}

#articuloPerfilProfesional p {
    text-indent: 3vw;
}

#tituloPerfil {
    font-size: 4vh;
    text-shadow: 0.6vh 0.8vh black;
    color: white;
    margin-bottom: 4vh;
    font-family: 'Raleway Extrabold', 'JosefinSans Bold', sans-serif;
}

#articuloPerfilProfesional p {
    font-size: 2vh;
    text-align: justify;
}

/*Sección Competencias*/
#seccionCompetencias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 8vh;
}

#tituloCompetencias {
    text-align: center;
    font-size: 8vh;
    text-shadow: 0.6vh 0.8vh black;
    color: white;
    background-color: #343436;
    padding-top: 8vh;
    font-family: 'Raleway Extrabold', 'JosefinSans Bold', sans-serif;
}

#subseccionCompetencias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

#seccion1Competencias,
#seccion2Competencias,
#seccion3Competencias,
#seccion4Competencias {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#seccion1Competencias,
#seccion3Competencias {
    background: linear-gradient(0, white, #343436);
}

#seccion2Competencias,
#seccion4Competencias {
    background: linear-gradient(0, #343436, white);
}

#barras1Competencias,
#barras2Competencias,
#barras3Competencias,
#barras4Competencias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#barras1Competencias,
#barras3Competencias {
    margin-left: 10vw;
    margin-right: auto;
}

#barras2Competencias,
#barras4Competencias {
    margin-right: 10vw;
}

.tituloSeccionCompetencias {
    font-size: 4.5vh;
    text-shadow: 0.6vh 0.8vh black;
    color: white;
    padding-top: 8vh;
    font-family: 'Raleway Extrabold', 'JosefinSans Bold', sans-serif;
    align-self: flex-start;
    margin: 0 0 0 6vw;

}

.descripcionSeccionCompetencias {
    align-self: flex-start;
    color: white;
    font-size: 2vh;
    margin: 2vh 0 2vh 6vw;
}

#seccion2Competencias .tituloSeccionCompetencias,
#seccion4Competencias .tituloSeccionCompetencias {
    text-shadow: 0.2vh 0.3vh rgb(88, 85, 85);
    color: black;
}

#seccion2Competencias .descripcionSeccionCompetencias,
#seccion4Competencias .descripcionSeccionCompetencias {
    color: black;
}

.competencia1,
.competencia2,
.competencia3,
.competencia4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.25vw 0;
    padding: 0.75vw;
    height: 6vh;
    border: 0.1vw solid white;
    background: linear-gradient(0, #343436, white);
    box-shadow: 0.2vh 0.2vh 0.2vh 0.1vh rgba(246, 244, 244, 0.05);
    transform-style: preserve-3d;
    transition: all 0.25s ease-in-out;
}

.competencia1:hover,
.competencia2:hover,
.competencia3:hover,
.competencia4:hover {
    background: linear-gradient(to bottom right, #343436, white);
    border-radius: 20vw;
}

.competencia1,
.competencia3 {
    margin-right: 6vw;
    /*Separación entre imagen y habilidades*/
}

.competencia2,
.competencia4 {
    margin-left: 6vw;
    /*Separación entre imagen y habilidades*/
}

.competencia1Titulo,
.competencia2Titulo,
.competencia3Titulo,
.competencia4Titulo {
    font-size: 1.4vh;
    width: 10vw;
    padding: 0.9vh 0;
    margin: 0;
}

.imagenCompetencia1,
.imagenCompetencia2,
.imagenCompetencia3,
.imagenCompetencia4 {
    height: 3.5vh;
    width: 2.3vw;
    padding: 0.5vw;
    margin: 0.6vh 0.6vw 0.6vh 1vw;
    background-color: #0075FF;
    border-radius: 50%;
}

.barraDeCompetencia {
    width: 30vw;
    height: 4vh;
    margin: 0 1vw;
}

#fotoSeccion1,
#fotoSeccion3 {
    height: 70vh;
    width: auto;
    border-radius: 0.7vh;
    box-shadow: 0.5vh 0.5vh 0.5vh 0.5vh rgba(233, 226, 226, 0.05);
    margin-right: 10vw;
    align-self: flex-end;
}

#fotoSeccion2,
#fotoSeccion4 {
    height: 70vh;
    width: auto;
    border-radius: 0.7vh;
    box-shadow: 0.5vh 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.05);
    margin-left: 10vw;
    margin-right: auto;
    align-self: flex-end;
}

/*Consideraciones de la sección 4*/
.competencia4Titulo {
    width: 3.5vw;
    font-size: 1.7vh;
}

#fotoSeccion4 {
    height: 100vh;
    width: auto;
}

.competencia4 {
    margin: 0.15vw 0;
    padding: 0.65vw;
    height: 5vh;
}

/*Sección Formación Académica*/
#seccionFormacionAcademica {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#tituloFormacionAcademica {
    text-align: center;
    font-size: 8vh;
    text-shadow: 0.6vh 0.8vh black;
    color: white;
    background-color: #343436;
    padding-top: 8vh;
    font-family: 'Raleway Extrabold', 'JosefinSans Bold', sans-serif;
}

#espacioAnimacionFormacionAcademica {
    background: linear-gradient(0, white, #343436);
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;

}

/*Carousel 1 ->carouselEfect.css*/

/*Sección Formación Complementaria*/
#seccionFormacionComplementaria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8vh;
}

#tituloFormacionComplementaria {
    text-align: center;
    font-size: 8vh;
    text-shadow: 0.6vh 0.8vh black;
    color: white;
    background-color: #343436;
    padding-top: 8vh;
    font-family: 'Raleway Extrabold', 'JosefinSans Bold', sans-serif;
}

#espacioFormacionComplementaria {
    background: linear-gradient(0, white, #343436);
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}

/*Carousel 2 ->carouselEfect.css*/

/*Sección Experiencia*/
#seccionExperiencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8vh;
}

#tituloExperiencia {
    text-align: center;
    font-size: 8vh;
    text-shadow: 0.6vh 0.8vh black;
    color: white;
    background-color: #343436;
    padding-top: 8vh;
    font-family: 'Raleway Extrabold', 'JosefinSans Bold', sans-serif;
}

#espacioExperiencia {
    background: linear-gradient(0, white, #343436);
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}

/*Carousel 3 ->carouselEfect.css*/


/*FOOTER*/
#footerID {
    background-color: rgb(216, 18, 18);
    padding: 4px;
    border: 3px solid black;
    margin: 5px;
    height: 40px;
    display: flex;
    align-items: center;
}


@media screen and (max-width:500px) {
    #seccionInfPersonal {
        flex-direction: column;
    }

    #fotoSeccion1,
    #fotoSeccion2,
    #fotoSeccion3,
    #fotoSeccion4 {
        display: none;
    }

    .descripcionSeccionCompetencias {
        margin: 2vh 0;
        font-size: 4vh;
        width: 100%;
    }

    .tituloSeccionCompetencias {
        margin: 4vh 0 0 0;
        font-size: 7vh;
        width: 100%;
    }

    #barras1Competencias,
    #barras2Competencias,
    #barras3Competencias,
    #barras4Competencias {
        margin: 0 10vw;
        width: 100%;
        padding: 0%;
        text-align: center;
    }

    .competencia1,
    .competencia2,
    .competencia3,
    .competencia4 {
        margin: 0.25vh 0;
        width: 95%;
        height: 10vh;
        justify-content: space-around;
    }

    .imagenCompetencia1,
    .imagenCompetencia2,
    .imagenCompetencia3,
    .imagenCompetencia4 {
        width: 6vw;
        height: 9vh;
    }

    .competencia1Titulo,
    .competencia2Titulo,
    .competencia3Titulo,
    .competencia4Titulo {
        font-size: 3vh;
        width: 14vw;
    }

    .barraDeCompetencia {
        width: 42vw;
        height: 6vh;
        margin: 0;
    }

    #articulosInfPersonal {
        flex-direction: column;
    }

    #articuloImagenPerfil {
        display: none;
    }

    #articuloDatosPersonales,
    #articuloPerfilProfesional {
        width: 100%;
    }

    #tituloPerfil,
    #tituloDatos {
        font-size: 5vh;

    }

    #listaDatos p {
        font-size: 3vh;
    }

    #articuloPerfilProfesional p {
        font-size: 3vh;

    }

    #simbolPresentacion {
        display: none;
    }

    #figurecaptionPresentacion {
        flex-direction: column;
        justify-content: center;
        margin: 0 10vw;
        align-items: flex-start;
    }

    #h3Puesto1,
    #h3Puesto2 {
        font-size: 4vh;
        width: 100%;
    }

    #puestosPresentacion {
        width: 100%;
    }

    #h3Puesto3 {
        margin-top: 3vh;
        width: 100%;
    }

}