.card-img-top {
    height: 400px !important;
    object-fit: contain !important;
}

.blockquote-footer {
    padding: 2vh 0;
    font-size: 3vh !important;
    text-align: center !important;
}

h5 {
    font-size: 1.4vh !important;
}

.card-img-top {
    background: radial-gradient(black, white);
}

.card {
    text-align: center;
}

.card-footer {
    display: flex;
    justify-content: center !important;
}

#mensaje {
    display: none;
}

#resultadoBusqueda {
    display: none;
}

#btnClearContribuciones,
#btnClearCientificos,
#btnClearRelacionesCientificoContribucion {
    color: white;
}