#loading {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 40%;
}

#loading .line:nth-last-child(1) {
    animation: loadingC 0.6s 0.1s linear infinite;
}

#loading .line:nth-last-child(2) {
    animation: loadingC 0.6s 0.2s linear infinite;
}

#loading .line:nth-last-child(3) {
    animation: loadingC 0.6s 0.3s linear infinite;
}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #3e3e3e;
}

.labelImgs {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 45px;
}

@keyframes loadingC {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, 0);
    }
}