<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Controlador Usuarios</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<link rel="stylesheet" th:href="@{/css/generalResources.css}">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script defer th:src="@{/js/recursosBtnClear.js}"></script>
<script defer th:src="@{/js/generalResources.js}"></script>
</head>
<body class="container">
	<button id="myBtnToTop" title="Go to top">
		<i id="iconToTop" class="bi bi-arrow-up-circle-fill"></i>
	</button>
	<button id="myBtnToBot" title="Go to Bot">
		<i id="iconToBot" class="bi bi-arrow-down-circle-fill"></i>
	</button>
	<div th:replace="fragments/headerUsuario::header"></div>
	<h1 class="m-2 p-3 d-flex justify-content-center">Lista de
		Usuarios</h1>
	<div class="my-3">
		<form th:action="@{/usuarios}">
			<div class="d-flex justify-content-between">
				<input type="search" id="campoBuscar" name="campoBuscar"
					class="mr-2 px-2 form-control" placeholder="Buscar..."
					th:value="${campoBuscar}"> <select name="tipoComparador"
					id="tipoComparador" class="mx-2 px-2 form-control">
					<option value="nombre"
						th:selected="${parametroBusquedaSeleccionado}=='nombre'">Nombre</option>
					<option value="password"
						th:selected="${parametroBusquedaSeleccionado}=='password'">Contraseña</option>
				</select> <input type="submit" value="Buscar" class="mx-2 px-2 btn btn-info">
				<button id="btnClear" class="ml-2 px-2 btn btn-info">Limpiar</button>
			</div>
		</form>
	</div>
	<div th:if="${message!=null}"
		class="alert alert-success alert-dismissible fade show text-center message"
		role="alert">
		[[${message}]]
		<button type="button" class="close btn-sm" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true">x</span>
		</button>
	</div>
	<div th:if="${usuarios.size()>0}">
		<table class="table table-hover table-responsive-xl">
			<thead class="thead-light">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nombre</th>
					<th scope="col">Contraseña</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="usuario: ${usuarios}">
					<td>[[${usuario.id}]]</td>
					<td>[[${usuario.nombre}]]</td>
					<td>[[${usuario.password}]]</td>
					<td><a th:href="@{'/usuarios/'+ ${usuario.id}}"
						title="Editar usuario"
						class="fa-regular fa-pen-to-square icon-dark"></a> <a
						th:href="@{'/usuarios/goToDelete/'+ ${usuario.id}}" id="btnDelete"
						title="Borrar usuario"
						class="fa-regular fa-trash-can icon-dark btn-delete"></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>